/* The top image section */
.start-image-container {
    background-image: url('../assets/images/yummy_event/opening.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.start-image-text {
    align-self: flex-start;
    padding-left: 10%;
}

.text-1-h,
.text-2-h,
.text-3-h {
    font-size: 50px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

.text-2-h {
    font-weight: 400;
}

.text-3-h {
    font-weight: 900;
}

.Image {
    margin-top: -60px;
    background-image: url('../assets/images/elements/Union.png');
    background-size: 1200px 200px;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 100%;
}

.event-info-text-container {
    display: flex;
    width: auto;
    height: 100px;
    margin-left: 110px;
    margin-right: 110px;
    align-items: center;
    justify-content: center;
}

.event-info-h {
    color: black;
    font-family: 'Imprima', sans-serif;
    margin-top: 200px;
    text-align: center;
    font-size: 16px;
}

/* Participating Restaurants */
.Union-restaurant {
    margin-top: -60px;
    background-image: url('../assets/images/elements/union_restaurant.png');
    background-size: 450px 60px;
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 25px;
    height: 150px;
    width: 100%;
}

.participating-restaurant{
    color: white;
    font-family: 'Playfair Display', serif;
    /* margin-top: 200px; */
    text-align: left;
    margin-left: 100px;
    font-size: 20px;
    align-items: left;
    justify-content: left;
}

.text-container {
    display: flex;
    width: auto;
    height: 100px;
    margin-left: 100px;
    margin-right: 110px;
    align-items: left;
    justify-content: left;
}

.info-h {
    color: white;
    font-family:'Playfair Display', serif;
    margin-top: 50px;
    margin-left: -55px;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
}

/* The header part */
.event-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.event-info-header {
    font-size: 70px;
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
}

.ratatouille-image-container {
    background-image: url('../assets/images/yummy_event/ratatouille.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}